.about {
  background-color: var(--color-ghost-white);
  padding: 5rem 3rem;
  box-sizing: border-box;
  min-block-size: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: all .4s;
}
.about-subtitle {
  inline-size: 100%;
  max-inline-size: 30rem;
  margin: 0 auto;
  text-align: center;
}
@media (min-width: 768px) {
  .about {
    padding: 5rem 3rem;
    min-block-size: inherit;
  }
}
@media (min-width: 1024px) {
  .about {
    flex-direction: row;
    column-gap: 8rem;
    padding: 8rem 3rem;
  }
  .about-subtitle {
    text-align: start;
    margin: 0;
    max-inline-size: 25rem;
  }
}